@media #{$x-small} {
  .head-section {
    &__search {
      &--size {
        width: 35%;
      }
    }
    &__restaurants {
      width: 100%;
      &--margin {
        padding: 0px 35px 0px 35px;
      }
    }
    &__background {
      height: 220px;
    }
  }
  .instructions {
    &__card {
      &--box {
        margin-bottom: 15px;
        width: 90%;
      }
    }
  }
  .card {
    &--backgroundwhite {
      height: 230px;
    }
  }
  .restaurants__card {
    width: 97%;
    &__img {
      height: 72% !important;
      &--img2 {
        object-position: center;
      }
    }
  }
  .btn__commande {
    margin-left: 32% !important;
    margin-right: 50% !important;
  }
  .menu__choice {
    display: flex !important;
    flex-direction: column;
    margin-top: 30px;
  }
  .footing {
    font-size: map-get($font-size, "medium");
  }
}
@media #{$small} {
  .legende__hearts--white:active ~ .legende__hearts--pink {
    animation: heartpink 2s cubic-bezier(0.83, 0, 0.17, 1) 0s 1 normal forwards;
  }
  .legende__hearts--white:active {
    animation: heartwhite 2s cubic-bezier(0.83, 0, 0.17, 1) 0.2s 1 normal forwards;
  }
  .instructions__card--box:active > .instructions__card--icons {
    color: $color-primary;
  }
  .instructions__card--box:active {
    background-color: lighten($color-primary, 32%);
  }
  .btn:active {
    box-shadow: 5px 5px 5px rgb(0 0 0 / 15%);
    transition-duration: 1.5s;
    background-image: linear-gradient(rgba(147, 86, 220, 0.7) 0%, rgba(255, 121, 218, 0.7) 100%);
  }
  .legende:active > .legende__text {
    max-width: 180px;
  }
  .legende:active > .legende__side {
    transform: translate(-20px);
    transition-duration: 1s;
  }
  .legende:active > .anim-coche {
    transition: transform 10s;
    animation: shop-cart 0s ease 0s 1 normal forwards;
    visibility: $visible;
    flex-grow: 8;
  }
  .legende:active > .anim-coche > .anim-coche__icon {
    animation: spin 1s ease 0s 1 normal forwards;
  }
}

@media #{$medium} {
  .heading {
    &__restaurant {
      padding-bottom: 40px;
    }
  }
  .head-section {
    &__search {
      &--size {
        width: 17%;
      }
    }
    &__background {
      height: 380px;
    }
  }
  .card {
    &--backgroundwhite {
      height: 230px;
    }
  }
  .instructions {
    &__card {
      &--text {
        font-size: map-get($font-size, "small");
      }
    }
  }
  .restaurants__card {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .menu {
    &__title {
      font-size: map-get($font-size, "medium-large") !important;
    }
    &__choice {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 30px 0 30px 0;
      &--starter {
        grid-column: 1;
        grid-row: 1;
      }
      &--plate {
        grid-column: 2;
        grid-row: 1;
      }
      &--desserts {
        grid-row: 2;
        grid-column: 1 / span 3;
        width: 70%;
        justify-self: center;
      }
    }
  }
}
@media #{$big} {
  .head-section {
    &__background {
      height: 480px;
    }
  }
  .restaurant {
    @include flexbox(row);
  }
  .restaurants__card {
    flex-direction: row !important;
    width: 100%;
  }
  .card {
    &--backgroundwhite {
      margin: 10px;
      height: 230px;
      width: 90%;
    }
  }
  .legende {
    &__title {
      &--menu {
        font-size: 14px !important;
      }
    }
    &__details {
      &--menu {
        font-size: 13px !important;
      }
    }
  }
  .menu {
    &__title {
      font-size: map-get($font-size, "large") !important;
    }
    &__choice {
      grid-template-columns: repeat(3, 1fr) !important;
      grid-template-rows: repeat(1, 1fr) !important;
    }
  }
  .title {
    margin-top: 30px;
  }
}
@media #{$huge} {
  .head-section {
    &__background {
      height: 630px;
      background-position-y: 49% !important;
    }
  }
  .instructions__card {
    margin-bottom: 50px;
  }
  .card {
    &--backgroundwhite {
      height: 330px;
    }
  }
  .menu {
    &__title {
      font-size: map-get($font-size, "x-large") !important;
    }
    &__choice {
      grid-template-columns: repeat(3, 1fr) !important;
      grid-template-rows: repeat(1, 1fr) !important;
      margin-top: 40px;
    }
  }
  .legende__text--margin {
    overflow: visible;
  }
  .footing {
    height: 60px !important;
  }
  .restaurants {
    &__card {
      flex-direction: row !important;
      width: 100%;
      margin: 50px 0 50px 0 !important;
      &__img {
        height: 80% !important;
      }
    }
  }
  .legende__hearts--left {
    left: 90% !important;
  }
}
@media #{$above767} {
  .head-section {
    &__restaurants {
      padding-bottom: 40px;
    }
    &--background {
      width: 100%;
      height: 400px;
    }
  }
  .instructions {
    &__card {
      flex-direction: row !important;
      width: 100%;
      &--box {
        width: 29%;
        margin-left: 20px;
      }
    }
  }
  .footing {
    @include flexbox(row !important);
    align-items: $center;
    justify-content: $center;
    height: 50px;
    padding-top: 20px;
  }
  .legende__hearts--white:hover ~ .legende__hearts--pink {
    animation: heartpink 2s cubic-bezier(0.83, 0, 0.17, 1) 0s 1 normal forwards;
  }
  .legende__hearts--white:hover {
    animation: heartwhite 2s cubic-bezier(0.83, 0, 0.17, 1) 0.2s 1 normal forwards;
  }
}
