.footing {
  @include flexbox(column);
  background-color: $colorbackground-thirdly;
  color: $colorwhite-text;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-left: 15px;
  &__icons {
    padding-right: 15px !important;
  }
  &__logo {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &--padding {
    padding-top: 5px;
  }
}
