.heading {
  @include flexbox(column);
  text-align: $center;
  padding-top: 10px;
  height: 50px;
  &__logo {
    @include flexbox(row);
    justify-content: space-between;
    align-items: $center;
  }
  &__arrow {
    margin-left: 20px;
  }
}
