* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links {
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
  width: 100%;
  &--white {
    color: $colorwhite-text;
  }
}
.body {
  width: 100%;
}
.alignment {
  @include alignement;
}
.numbers {
  color: $colorwhite-text;
  background-color: $color-primary;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  margin-left: -7px;
  line-height: 19px;
}

.head-section {
  text-align: $center;
  &__search {
    background-color: $colorbackground-fourth;
    height: $height-dimension;
    line-height: 40px;
    box-shadow: inset -1px 5px 2px -2px rgb(185, 185, 185);
  }
  &__restaurants {
    background-color: $colorbackground-secondary;
    padding-bottom: 40px;
    &--margin {
      padding-top: 10px;
    }
    &--marginh1 {
      padding-top: 30px;
    }
  }
  &__background {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position-y: 40%;
    &--palette {
      background-image: url("../../images/restaurants/la_palette_du_gout.jpg");
    }
    &--note {
      background-image: url("../../images/restaurants/la_note_enchantee.jpg");
    }
    &--francaise {
      background-image: url("../../images/restaurants/a_la_francaise.jpg");
    }
    &--delices {
      background-image: url("../../images/restaurants/le_delice_des_sens.jpg");
    }
  }
}
.card {
  border-radius: $pixel-main-size;
  box-shadow: $card-shadow;
  &--backgroundwhite {
    background-color: $colorwhite-text;
    width: 90%;
    margin: 10px;
  }
  &--menu {
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 95%;
  }
}

.instructions {
  &__title {
    margin: 30px 0 0 10px;
    border-bottom: none;
  }
  &__card {
    @include flexbox(column);
    justify-content: $center;
    align-items: $center;
    margin: 20px 0 40px 0;
    &--box {
      height: $height-dimension + 20px;
      background-color: $colorbackground-secondary;
      &:hover {
        background-color: lighten($color-primary, 32%);
      }
    }
    &--box-inside {
      line-height: 30px;
      width: 100%;
    }
    &--text {
      margin-top: 15px;
    }
    &--icons {
      margin: 0 15px 0 15px;
      color: rgb(185, 185, 185);
    }
  }
}
.restaurants {
  background-color: $colorbackground-secondary;
  @include flexbox(column);
  &__card {
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px 0;
    width: 100%;
    &--vignette {
      position: $positionr;
    }
    &__img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      height: 70%;
      object-fit: cover;
      &--new {
        position: $positiona;
        right: 10px;
        top: 10px;
        background-color: $color-thirdly;
        color: rgb(0, 135, 102);
        width: 80px;
        height: 30px;
        padding: 5px;
        font: 15px bold;
        text-align: center;
      }
      &--img1 {
        object-position: bottom;
      }
      &--img2 {
        object-position: center 60%;
      }
      &--img3 {
        object-position: bottom;
      }
      &--img4 {
        object-position: bottom;
      }
    }
  }
}
.menu {
  &__title {
    @include flexbox(row);
    justify-content: space-around;
    align-items: $alignbase;
    padding-top: 30px;
  }
  &__choice {
    display: grid;
  }
}

.legende {
  @include flexbox(row);
  position: $positionr;
  &__text {
    @include flexbox(column);
    margin: 10px 0 0 15px;
    &--menu {
      width: 70%;
    }
  }
  &__title {
    width: 100%;
    word-wrap: break-word;
  }
  &__details {
    padding-top: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__hearts {
    align-self: center;
    &--white {
      position: absolute;
      z-index: 3;
    }
    &--pink {
      position: absolute;
      visibility: hidden;
      z-index: 2;
    }
    &--left {
      left: 85%;
    }
  }
  &__side {
    @include flexbox(row);
    justify-content: flex-end;
    align-items: $center;
    flex-grow: 2;
  }
}
.anim-coche {
  display: flex;
  background-color: $color-thirdly;
  border-top-right-radius: $pixel-main-size;
  border-bottom-right-radius: $pixel-main-size;
  visibility: $hidden;
  max-width: 20%;
  height: 70px;
  &__icon {
    color: $colorwhite-text;
    margin: $auto-margin;
  }
}
