@font-face {
  font-family: "Roboto";
  src: url("../../../font/Roboto-Thin.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
}
.title--font {
  text-transform: uppercase;
  border-bottom: 2px #99e2d0 solid;
  margin-right: 83%;
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
}
.footing {
  &__logo {
    font-family: "Shrikhand", cursive;
  }
}
