@font-face {
  font-family: "Roboto";
  src: url("../../../font/Roboto-Thin.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
}
.title--font {
  text-transform: uppercase;
  border-bottom: 2px #99e2d0 solid;
  margin-right: 83%;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: map-get($font-size, "small");
}

.legende {
  &__title {
    font-size: map-get($font-size, "medium");
  }
  &__details {
    font-size: map-get($font-size, "small");
  }
}
.footing {
  &__logo {
    font-family: "Shrikhand", cursive;
  }
}
