@font-face {
  font-family: "Roboto";
  src: url("../../../font/Roboto-Thin.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
}
.title--font {
  text-transform: uppercase;
  border-bottom: 3px #99e2d0 solid;
  margin-right: 68%;
  font-size: 19px;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 10px;
}
.menu {
  &__title {
    font-size: map-get($font-size, "small");
    &--font {
      font-family: "Shrikhand", cursive;
    }
    &--heart {
      font-size: 22px;
      margin-right: 20px;
    }
  }
}
.legende {
  &__title {
    font-size: map-get($font-size, "medium");
  }
  &__details {
    font-size: map-get($font-size, "small");
  }
  &__price {
    font-weight: bold;
  }
}
.footing {
  &__logo {
    font-family: "Shrikhand", cursive;
  }
}
